/MySQLBackendDealings/nbproject/private/
/PHPMailer-6.0.7
MySQLBackendDealings/nbproject/project.xml
MySQLBackendDealings/nbproject/genfiles.properties
MySQLBackendDealings/nbproject/build-impl.xml
MySQLBackendDealings/manifest.mf
MySQLBackendDealings/build.xml
MySQLBackendDealings/nbproject/project.properties
