/MySQLBackendDealings/nbproject/private/
/PHPMailer-6.0.7
MySQLBackendDealings/nbproject/project.xml
MySQLBackendDealings/nbproject/genfiles.properties
MySQLBackendDealings/nbproject/build-impl.xml
MySQLBackendDealings/manifest.mf
MySQLBackendDealings/build.xml
MySQLBackendDealings/nbproject/project.properties
/MySQLBackendDealings/build/
MySQLBackendDealings/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
MySQLBackendDealings/lib/mysql-connector-java-8.0.15.jar
MySQLBackendDealings/lib/nblibraries.properties
